.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries/appcompat_v7_21_0_3.xml
.idea/libraries/support_annotations_21_0_3.xml
.idea/libraries/support_v4_21_0_3.xml
.idea/workspace.xml
local.properties
